TZ=Asia/Shanghai
MAIN_SITE_PORT=39001
CLIPROXYAPI_PORT=8317
CPA_CLEANUP_PORT=39023
RESIN_PORT=39024
RESIN_ADMIN_TOKEN=change-me-admin-token
RESIN_PROXY_TOKEN=change-me-proxy-token
GOPROXY_STABLE_PORT=7776
GOPROXY_RANDOM_PORT=7777
GOPROXY_WEBUI_PORT=7778
GOPROXY_SOCKS5_RANDOM_PORT=7779
GOPROXY_SOCKS5_STABLE_PORT=7780
